<div class="overlay" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="30px">
    <mat-card fxLayout="column" class="card">
        <h2>Login</h2>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter Username" [(ngModel)]='username'>
          </mat-form-field >
          <mat-form-field>
            <mat-label>Passsword</mat-label>
            <input type="password" matInput placeholder="Enter Password">
          </mat-form-field>
          <a href="#">Forgot Password?</a>
        
         
          <div  style="margin-top: 2rem;" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
            <button color="primary" mat-raised-button (click)="dashboard()">Login</button>
            <button  color="accent" mat-raised-button (click)="goToSignup()">Signup</button>
        </div>
          
    </mat-card>
</div>
<style>
    .overlay{
        width: 100%;
        height: 100%;
    }
    mat-card{
        background-color: rgba(163, 160, 160, 0.5);
        color: Black;
        height: 18rem;
        width: 18rem;
    }
    button{
        color: white !important;
    }
    input{
        color: black !important;
    }
    mat-form-field{
        color: black;
    }
</style>